<div class="d-block px-3 py-2 text-center text-white old-bv">
  Welcome to the Learning Hub powered by
  <a href='https://legatohealthtech.com' class="text-white text-bold" target="_blank">Legato Health Technologies</a>.
</div>
<nav class="navbar navbar-expand-sm flex-column flex-md-row navbar-dark bd-navbar sticky-top">
  <a class="navbar-brand" href="#">
    <img src="favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
    <span class="nav-title"> Learn @ Legato</span>
  </a>
  <button class="navbar-toggler" (click)="collapse=!collapse" type="button" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="navbar-collapse" (click)="collapse=true" [hidden]="collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="home" routerLinkActive="active"><i class="fa fa-home mr-1"></i>Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="courses" routerLinkActive="active"><i class="fa fa-graduation-cap mr-1"></i>Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about" routerLinkActive="active"><i class="fa fa-info-circle mr-1"></i>About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact" routerLinkActive="active"><i class="fa fa-comment mr-1"></i>Contact Us</a>
      </li>
    </ul>
    <form class="form-inline md-form form-sm mt-0">
      <div class="input-group">
        <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search">
        <span class="input-group-append">
          <div class="input-group-text"><i class="fa fa-search"></i></div>
        </span>
      </div>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="profileDropDown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Hi, Niranjan</a>
        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="profileDropDown">
          <a class="dropdown-item" href="#"><i class="fa fa-user"></i>Profile</a>
          <a class="dropdown-item" href="#"><i class="fa fa-sign-out"></i>Signout</a>
        </div>
      </li>
      <app-cart></app-cart>
    </ul>
  </div>
</nav>