<div class="row">
  <div class="col-lg-6">
    <img src="../../assets/images/about.jpg" alt="Snow" style="width:50%">
  </div>
  <!-- <div class="column">
    <img src="img_forest.jpg" alt="Forest" style="width:100%">
  </div>
  <div class="column">
    <img src="img_mountains.jpg" alt="Mountains" style="width:100%">
  </div> -->
  <div class="col-lg-6">
    <h3>Legato @ Learning</h3>
    <p>
      Founded in Feb of 2019 and based in Bengaluru,K.A. Legato Training is a trusted communtity for market place
      for the people to get list of Unique courses to read both online and as well mobile phone or tablet.
  
      Wheather an Individual course or group of courses are available as per the user interest. Legato Training will
      make the people understand the real level of teaching and making it understand the concepts in a better way.
      
      Legato Training is the easiest way for people to learn and understand required technolgies in
      better way and also easy to access across different type of courses available.
    </p>
  </div>
  
</div>
