<li class="dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="cartDropDown" role="button" 
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-shopping-cart"></i>
      <span class="badge">3</span>
    </a>
  <ul class="dropdown-menu dropdown-cart dropdown-menu-right" role="menu">
    <li>
      <span class="item">
      <span class="item-left">
        <img src="../assets/images/products/angular.png" alt="" />
        <span class="item-info">
          <span>Angular</span>
      <span>23$</span>
      </span>
      </span>
      <span class="item-right">
        <button class="btn btn-xs btn-danger pull-right">x</button>
      </span>
      </span>
    </li>
    <li>
      <span class="item">
        <span class="item-left">
          <img src="../assets/images/products/node.png" alt="" />
          <span class="item-info">
            <span>Node JS</span>
      <span>23$</span>
      </span>
      </span>
      <span class="item-right">
          <button class="btn btn-xs btn-danger pull-right">x</button>
        </span>
      </span>
    </li>
    <li class="divider"></li>
    <li class="options">
      <a class="btn btn-info btn-sm float-left" href="#" role="button">View Cart</a>
      <a class="btn btn-primary btn-sm float-right" href="#" role="button">Check out</a>
    </li>
  </ul>
</li>