<div class="row text-center mb-3 mt-3">
  <div class="col-sm-12 col-lg-12">
    <h1 class="h1">
      Feedback list <small>We vaule your comments</small></h1>
  </div>
</div>

<div class="row mt-2">
  <div class="col-sm-12 col-lg-12">
    <p class="text-danger margin-0">1. Niranjan Maharana</p>
    <div class="ml-3 text-info">
      <p class="col-sm-12 col-xs-12 margin-0">Test Comment</p>
      <div class="container">
        <div class="row text-inactive">
          <span class="col-lg-12"><i class="fa fa-phone"></i> : +91-9556824846</span>
          <span class="col-lg-12"><i class="fa fa-envelope"></i> : <a href="mailto:niranjanmaharna95@gmail.com">niranjanmaharna95@gmail.com</a></span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-2">
  <div class="col-sm-12 col-lg-12">
    <p class="text-danger">2. Santosh Kumar</p>
    <div class="ml-3 text-info">
      <p class="col-sm-12 col-xs-12">Test Comment 2</p>
      <div class="container">
        <div class="row">
          <span class="col-lg-12"><i class="fa fa-phone"></i> : +91-9556824846</span>
          <span class="col-lg-12"><i class="fa fa-envelope"></i> : <a href="mailto:niranjanmaharna95@gmail.com">niranjanmaharna95@gmail.com</a></span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-2">
  <div class="col-sm-12 col-lg-12">
    <p class="text-danger">3. Sreelatha Mavilla</p>
    <div class="ml-3 text-info">
      <p class="col-sm-12 col-xs-12">Test Comment 3</p>
      <div class="container">
        <div class="row">
          <span class="col-lg-12"><i class="fa fa-phone"></i> : +91-9556824846</span>
          <span class="col-lg-12"><i class="fa fa-envelope"></i> : <a href="mailto:niranjanmaharna95@gmail.com">niranjanmaharna95@gmail.com</a></span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-2">
  <div class="col-sm-12 col-lg-12">
    <p class="text-danger">4. Smruti Ranjan Mishra</p>
    <div class="ml-3 text-info">
      <p class="col-sm-12 col-xs-12">Test Comment 4</p>
      <div class="container">
        <div class="row">
          <span class="col-lg-12"><i class="fa fa-phone"></i> : +91-9556824846</span>
          <span class="col-lg-12"><i class="fa fa-envelope"></i> : <a href="mailto:niranjanmaharna95@gmail.com">niranjanmaharna95@gmail.com</a></span>
        </div>
      </div>
    </div>
  </div>
</div>