body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 0.8rem !important;
    background-color: #FAFAFA;
}

.old-bv {
    font-size: 14px;
    background-color: #322348;
}

.old-bv:hover {
    text-decoration: none;
    background-color: #231832;
}

.nav-link {
    color: rgba(255, 255, 255, .75);
}

.nav-link:hover {
    color: #ffffff !important;
}

.bd-navbar {
    background-color: #563d7c;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
}

.btn-learn {
    background-color: #563d7c !important;
    border-radius: 0px !important;
    border-color: #322348 !important;
}

.btn-learn:hover {
    background-color: #322348 !important;
}

.no-box-shadow , .no-box-shadow:focus {
    box-shadow: none !important;
}

.margin-0 {
    margin: 0px !important;
}